@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html, body {
  height: 100%;
  font-family: "Noto Serif", "Times New Roman", serif;
}

@font-face {
  font-family: Pehlevi;
  src: url('../assets/pehlevi.ttf');
}

body {
  margin: 0;
  overflow: hidden;
  background: url('../assets/desert-night.jpg');
  background-size: cover;
}

button.bookmark {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  margin: 0 6px;
  cursor: pointer;
  padding: 4px 16px;
  color: #111;
  border: 0;
  border-radius: 8px 8px 0 0;
  background-color: #ecdcb9;
  box-shadow: inset 0px -1px 3px 1px rgb(0 0 0 / 70%);
  transition: all 0.2s ease-in-out;
}

button.bookmark:hover {
  padding-bottom: 10px;
  margin-top: -6px;
}

button.bookmark.selected {
  color: #99423b;
  font-weight: 700;
}