@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
  --default-font-size: min(2vh, 1.25vw, 24px);
  --heading-font-size: min(8vh, 5.2vw, 96px);
  --heading-font-family: Pehlevi, Pehlevi-fallback, Georgia, serif;
  --default-font-family: "Noto Serif", NotoSerif-fallback, Georgia, serif;
  font-family: var(--default-font-family);
  height: 100%;

  @media screen and (max-width: 800px) {
    --default-font-size: min(1.8vh, 4vw, 24px);
    --heading-font-size: min(10vh, 11vw, 96px);
  }
}

@font-face {
  font-family: Pehlevi;
  src: url('../assets/pehlevi.ttf');
}

@font-face {
  font-family: Pehlevi-fallback;
  src: local(Georgia);
  ascent-override: 98%;
  descent-override: 43%;
  line-gap-override: 0%;
  size-adjust: 86%;
}

@font-face {
  font-family: NotoSerif-fallback;
  src: local(Georgia);
  line-gap-override: 0%;
  size-adjust: 110%;
}

body {
  margin: 0;
  overflow: hidden;
  background-image: url('../assets/desert-night.jpg'), linear-gradient(180deg, rgba(52,38,38,1) 0%, rgba(107,75,76,1) 60%, rgba(130,79,66,1) 61%, rgba(90,46,27,1) 100%);
  background-color: #402b2c;
  background-size: cover;
  font-size: var(--default-font-size);
}

button.bookmark {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  margin: 0 6px;
  cursor: pointer;
  padding: 4px 16px;
  color: #111;
  border: 0;
  border-radius: 8px 8px 0 0;
  background-color: #ecdcb9;
  box-shadow: inset 0px -1px 3px 1px rgb(0 0 0 / 70%);
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

button.bookmark:hover {
  padding-bottom: 10px;
  margin-top: -6px;
}

button.bookmark.selected {
  color: #99423b;
  font-weight: 700;
}